body {
  background-color: #171d25;
  color: white;
  min-height: 90vh;
}

.container {
  position: relative;
  transition: all 0.3s ease-out;
  height: 500px;
  perspective: 700px;
  z-index: 10;
  overflow: hidden;
}
.container .honeycomb {
  display: block;
  position: absolute;
  margin-left: -465px;
  padding-left: 18px;
  left: 50%;
  text-align: center;
  height: 450px;
  width: 930px;
  transform: rotateX(45deg) rotateY(0deg);
  transform-style: preserve-3d;
  transform-origin: center, 65%;
  z-index: 5;
}
.container .honeycomb .column {
  display: block;
  float: left;
  width: 62px;
  transform-style: preserve-3d;
}
.container .honeycomb .column:nth-child(odd) {
  margin-top: 36px;
}
.container .honeycomb .hex {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  height: 72px;
  width: 62px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
  opacity: 0.5;
}
.container .honeycomb .hex:hover {
  opacity: 1;
  transform: translateZ(20px);
  transition-duration: 200ms;
}
.container .honeycomb .hex:hover .content {
  opacity: 1;
  transform: rotateX(-90deg) translateZ(-40px) translateY(-50px);
}
.container .honeycomb .hex .wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.container .honeycomb .hex .wrapper .color-farm {
  background: #ffbc06;
}
.container .honeycomb .hex .wrapper .color-farm:before {
  border-right-color: #ffbc06;
}
.container .honeycomb .hex .wrapper .color-farm:after {
  border-left-color: #ffbc06;
}
.container .honeycomb .hex .wrapper .color-mine {
  background: #92918e;
}
.container .honeycomb .hex .wrapper .color-mine:before {
  border-right-color: #92918e;
}
.container .honeycomb .hex .wrapper .color-mine:after {
  border-left-color: #92918e;
}
.container .honeycomb .hex .wrapper .color-industrial {
  background: #5f450d;
}
.container .honeycomb .hex .wrapper .color-industrial:before {
  border-right-color: #5f450d;
}
.container .honeycomb .hex .wrapper .color-industrial:after {
  border-left-color: #5f450d;
}
.container .honeycomb .hex .wrapper .owned {
  background-color: rgb(0, 255, 0);
}
.container .honeycomb .hex .wrapper .enemy {
  background-color: red;
}
.container .honeycomb .hex .wrapper .capital:before {
  border-right-color: red;
}
.container .honeycomb .hex .wrapper .capital:after {
  border-left-color: red;
}
.container .honeycomb .hex .content {
  display: block;
  position: absolute;
  top: 0;
  left: -80px;
  text-align: center;
  width: 200px;
  opacity: 0;
  transition: all 0.3s ease-out 0.1s;
  transform: rotateX(-90deg) translateZ(-40px) translateY(-40px);
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
}
.container .honeycomb .hex .content strong {
  display: block;
  font: 600 26px/1.1 verdana, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.8);
}
.container .honeycomb .hex .content small {
  display: block;
  font: 15px/1.1 verdana, sans-serif;
}
.container .honeycomb .shadows {
  display: block;
  position: absolute;
  top: -15%;
  left: -15%;
  height: 130%;
  width: 130%;
  background-image: radial-gradient(closest-side, rgba(23, 29, 37, 0), #171d25);
  opacity: 0.9;
  transform: translateZ(10px);
  pointer-events: none;
}

.ui {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  min-height: 40vh;
}
.ui .info {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.ui .debug {
  width: 35%;
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
  padding: 20px;
}
.ui .debug mark {
  background-color: transparent;
  color: rgb(120, 120, 120);
}

.hexagon {
  display: block;
  position: absolute;
  width: 36px;
  height: 62px;
  background-color: #ffffff;
}
.hexagon:before, .hexagon:after {
  content: "";
  position: relative;
  float: left;
  border-top: 31px solid transparent;
  border-bottom: 31px solid transparent;
}
.hexagon:before {
  border-right: 18px solid #ffffff;
  left: -18px;
}
.hexagon:after {
  border-left: 18px solid #ffffff;
  right: -18px;
}

.hidden {
  display: none;
}/*# sourceMappingURL=styles.css.map */